<a href="https://colab.research.google.com/github/zferguson/rProjects/blob/master/heart_disease_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Heart Disease Analysis**

Import modules

In [ ]:
library(dplyr)
library(ggplot2)
library(tidyr)

Import data from CSV, drop any rows with missing data, and preview

In [24]:
df_raw <- read.csv('./sample_data/heart.csv', header = TRUE)
df <- na.omit(df_raw)

glimpse(df)
head(df)

Rows: 918
Columns: 12
$ Age            <int> 40, 49, 37, 48, 54, 39, 45, 54, 37, 48, 37, 58, 39, 49,…
$ Sex            <chr> "M", "F", "M", "F", "M", "M", "F", "M", "M", "F", "F", …
$ ChestPainType  <chr> "ATA", "NAP", "ATA", "ASY", "NAP", "NAP", "ATA", "ATA",…
$ RestingBP      <int> 140, 160, 130, 138, 150, 120, 130, 110, 140, 120, 130, …
$ Cholesterol    <int> 289, 180, 283, 214, 195, 339, 237, 208, 207, 284, 211, …
$ FastingBS      <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0…
$ RestingECG     <chr> "Normal", "Normal", "ST", "Normal", "Normal", "Normal",…
$ MaxHR          <int> 172, 156, 98, 108, 122, 170, 170, 142, 130, 120, 142, 9…
$ ExerciseAngina <chr> "N", "N", "N", "Y", "N", "N", "N", "N", "Y", "N", "N", …
$ Oldpeak        <dbl> 0.0, 1.0, 0.0, 1.5, 0.0, 0.0, 0.0, 0.0, 1.5, 0.0, 0.0, …
$ ST_Slope       <chr> "Up", "Flat", "Up", "Flat", "Up", "Up", "Up", "Up", "Fl…
$ HeartDisease   <int> 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1…

  Age Sex ChestPainType RestingBP Cholesterol FastingBS RestingECG MaxHR
1 40  M   ATA           140       289         0         Normal     172
2 49  F   NAP           160       180         0         Normal     156
3 37  M   ATA           130       283         0         ST          98
4 48  F   ASY           138       214         0         Normal     108
5 54  M   NAP           150       195         0         Normal     122
6 39  M   NAP           120       339         0         Normal     170
  ExerciseAngina Oldpeak ST_Slope HeartDisease
1 N              0.0     Up       0
2 N              1.0     Flat     1
3 N              0.0     Up       0
4 Y              1.5     Flat     1
5 N              0.0     Up       0
6 N              0.0     Up       0

In [18]:
# identify any categorical/character columns, these will need to be encoded
cat_cols <- names(df)[sapply(df, is.character)]
cat_cols

[1] "Sex"            "ChestPainType"  "RestingECG"     "ExerciseAngina"
[5] "ST_Slope"